/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: tablestyle;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
	overflow: hidden;
	cell-padding-left: 7px;
	cell-padding-right: 7px;
	cell-padding-top: 7px;
	cell-padding-bottom: 7px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #9bc0ed;
	name: Column1;
	id: 0;
	size: 100px;
}

mcTableColumnStyle
{
	span: 9;
	id: 4;
	name: Column2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #9bc0ed;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Header1;
	id: 2;
	background-color: #1a5091;
	color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #9bc0ed;
	name: Body1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-tablestyle
{
	border-collapse: separate;
	overflow: hidden;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
	border-bottom-left-radius: 9px;
	border-spacing: 0px 0px;
}

.TableStyle-tablestyle-Column-Column1
{
	width: 100px;
}

.TableStyle-tablestyle-Column-Column2
{
	
}

.TableStyle-tablestyle-Head-Header1
{
	
}

.TableStyle-tablestyle-HeadI-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadI-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadE-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1a5091;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-tablestyle-HeadE-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadF-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-tablestyle-HeadF-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadH-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadH-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadD-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-tablestyle-HeadD-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadC-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadC-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadB-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadB-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadA-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadA-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadG-Column1-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadG-Column1-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadI-Column2-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadI-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadE-Column2-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1a5091;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-tablestyle-HeadE-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadF-Column2-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-HeadF-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadH-Column2-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadH-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadD-Column2-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: none;
}

.TableStyle-tablestyle-HeadD-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadC-Column2-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadC-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadB-Column2-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadB-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadA-Column2-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadA-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-HeadG-Column2-Header1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	color: #ffffff;
	background-color: #1a5091;
}

.TableStyle-tablestyle-HeadG-Column2-Header1 p
{
	color: #ffffff;
}

.TableStyle-tablestyle-Foot-Footer1
{
	
}

.TableStyle-tablestyle-FootI-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-FootI-Column1-Footer1 p
{
	
}

.TableStyle-tablestyle-FootE-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-tablestyle-FootE-Column1-Footer1 p
{
	
}

.TableStyle-tablestyle-FootF-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-tablestyle-FootF-Column1-Footer1 p
{
	
}

.TableStyle-tablestyle-FootH-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-FootH-Column1-Footer1 p
{
	
}

.TableStyle-tablestyle-FootD-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-tablestyle-FootD-Column1-Footer1 p
{
	
}

.TableStyle-tablestyle-FootC-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-FootC-Column1-Footer1 p
{
	
}

.TableStyle-tablestyle-FootB-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-FootB-Column1-Footer1 p
{
	
}

.TableStyle-tablestyle-FootA-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-FootA-Column1-Footer1 p
{
	
}

.TableStyle-tablestyle-FootG-Column1-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-FootG-Column1-Footer1 p
{
	
}

.TableStyle-tablestyle-FootI-Column2-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-FootI-Column2-Footer1 p
{
	
}

.TableStyle-tablestyle-FootE-Column2-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-tablestyle-FootE-Column2-Footer1 p
{
	
}

.TableStyle-tablestyle-FootF-Column2-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-tablestyle-FootF-Column2-Footer1 p
{
	
}

.TableStyle-tablestyle-FootH-Column2-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-FootH-Column2-Footer1 p
{
	
}

.TableStyle-tablestyle-FootD-Column2-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-tablestyle-FootD-Column2-Footer1 p
{
	
}

.TableStyle-tablestyle-FootC-Column2-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-FootC-Column2-Footer1 p
{
	
}

.TableStyle-tablestyle-FootB-Column2-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-FootB-Column2-Footer1 p
{
	
}

.TableStyle-tablestyle-FootA-Column2-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-FootA-Column2-Footer1 p
{
	
}

.TableStyle-tablestyle-FootG-Column2-Footer1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-FootG-Column2-Footer1 p
{
	
}

.TableStyle-tablestyle-Body-Body1
{
	
}

.TableStyle-tablestyle-BodyI-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-tablestyle-BodyE-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom-width: 1px;
	border-bottom-color: #9bc0ed;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-tablestyle-BodyF-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom-width: 1px;
	border-bottom-color: #9bc0ed;
	border-bottom-style: solid;
}

.TableStyle-tablestyle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-tablestyle-BodyH-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-tablestyle-BodyD-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom-width: 1px;
	border-bottom-color: #9bc0ed;
	border-bottom-style: solid;
}

.TableStyle-tablestyle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-tablestyle-BodyC-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-tablestyle-BodyB-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-tablestyle-BodyA-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-tablestyle-BodyG-Column1-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-BodyG-Column1-Body1 p
{
	
}

.TableStyle-tablestyle-BodyI-Column2-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-BodyI-Column2-Body1 p
{
	
}

.TableStyle-tablestyle-BodyE-Column2-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom-width: 1px;
	border-bottom-color: #9bc0ed;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-BodyE-Column2-Body1 p
{
	
}

.TableStyle-tablestyle-BodyF-Column2-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom-width: 1px;
	border-bottom-color: #9bc0ed;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-BodyF-Column2-Body1 p
{
	
}

.TableStyle-tablestyle-BodyH-Column2-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-BodyH-Column2-Body1 p
{
	
}

.TableStyle-tablestyle-BodyD-Column2-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-bottom-width: 1px;
	border-bottom-color: #9bc0ed;
	border-bottom-style: solid;

}

.TableStyle-tablestyle-BodyD-Column2-Body1 p
{
	
}

.TableStyle-tablestyle-BodyC-Column2-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-BodyC-Column2-Body1 p
{
	
}

.TableStyle-tablestyle-BodyB-Column2-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-right-width: 1px;
	border-right-color: #9bc0ed;
	border-right-style: solid;
}

.TableStyle-tablestyle-BodyB-Column2-Body1 p
{
	
}

.TableStyle-tablestyle-BodyA-Column2-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-BodyA-Column2-Body1 p
{
	
}

.TableStyle-tablestyle-BodyG-Column2-Body1
{
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.TableStyle-tablestyle-BodyG-Column2-Body1 p
{
	
}

tr:nth-of-type(2n+1)
{
   background-color: #F3F3F3;
}

td {
font-size: .85em;
}
